@{
    ViewBag.Title = "Home Page";
 }
<div class="jumbotron">
    <div class="col-md-4">
       <h2>Scrape</h2>
          <button class="btn btn-success" value="Scrape Stocks" onclick="location.href='@Url.Action("Scrape", "HAPStockTables")'">Scrape</button>
    </div>
    <div class="col-md-4">
       <h2>Delete Database</h2>
          <button type="submit" class="btn btn-danger" value="Delete Stocks" onclick="location.href='@Url.Action("DeleteTable", "StockTables")'">Delete Stock Database</button>
    </div>
</div>